body, h1, h2, h3, h4, p, ul, ol, li {
    margin: 0;
    font-family: "Helvetica";
}

body {
    min-height: 100vh;
    background-color: #ffd7f8;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}