@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/MontserratAlternates-Regular.ttf');
}

body, h1, h2, h3, h4, p, ul, ol, li {
    margin: 0;
    font-family: "Montserrat Alternates";
}

body {
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}