.container {
    margin: 0 auto;
    width: 80%;
}

.container.-hero {
    width: 100%;
}

@media screen and (max-width: 1050px) {
	.container {
		width: 95%;
	}
}

@media screen and (max-width: 767px) {
	.container {
		
	}
}