.section {
    min-height: 100vh;
    background-color: var(--sakura);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section.-hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section.-works {
    background: linear-gradient(var(--sakura), 30%, var(--dark_grey));
}

.section.-process {
    background-color: var(--dark_grey);
}

.hero__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 80%;
}

.hero__nav {
    display: flex;
    justify-content: space-between;
    height: 500px;
}

.hero__text {
    background-image: url(../img/stars-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
    background-size: cover;
}

.scrolldown {
    padding-bottom: 40px;
    position: relative;
}

.scrolldown::before {
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(45deg);
    bottom: 20px;
    left: 80px;
}

.about__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 200px;
}

.about__title {
    margin-bottom: 100px;
}

.about__info {
    display: flex;
    justify-content: space-between;
}

.about__text {
    width: 30%;
}

.about__gif {
    width: 400px;
    height: 400px;
    margin: auto 0;
}

.works__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 200px;
}

.works__title {
    margin-bottom: 100px;
}

.works__info {
    display: flex;
    justify-content: space-between;
}

.works__pick {
    width: 40%;
    position: relative;
}

.works__gif {
    position: absolute;
    width: 200px;
}

.works__gif.-scknd {
    top: 40px;
    left: 40px;
}

.works__gif.-thrd {
    top: 60px;
    left: 100px;
}

.works__gif.-frth {
    top: 80px;
    left: 160px;
}

.works__gif.-ffth {
    top: 100px;
    left: 220px;
}

.works__gif.-sxth {
    top: 120px;
    left: 280px;
}

.works__gif.-svnth {
    top: 180px;
    left: 340px;
}

.works__gif.-ghth {
    top: 260px;
    left: 360px;
}

.works__text {
    width: 40%;
}

.process__content {
    margin-bottom: 40px;
}

.process__info {
    display: flex;
    justify-content: space-between;
}

.process__card {
    width: 33%;
    padding: 5px;
    transition: 0.2s linear;
    text-shadow: 1px 1px var(--sakura);
}

.process__card:hover {
    background: var(--sakura);
    box-shadow: 0px 0px 5px var(--sakura);
}

.process__gif {
    width: 100%;
    padding-top: 5px;
}

.section.-servises {
    display: block;
    background-color: var(--dark_grey);
}

@media screen and (max-width: 1050px) {
	.section.-works {
        background: linear-gradient(var(--sakura), 20%, var(--dark_grey));
    }
    
    .hero__nav {
        flex-direction: column;
    }

    .hero__nav {
        height: auto;
        border-top: 2px solid black;
    }

    .about__title, .about__text {
        margin-bottom: 10px;
    }

    .about__content {
        margin-bottom: 20px;
    }
    
    .about__info {
        flex-direction: column;
    }
    .about__text, .about__gif
    {
        width: 100%;
        height: auto;
    }

    .works__title {
        margin-bottom: 100px;
    }

    .works__content {
        margin-bottom: 100px;
    }

    .works__pick {
        width: 115px;
    }

    .works__gif {
        position: absolute;
        width: 100px;
    }

    .works__gif.-frst {
        top: -120px;
        left: 5px;
    }
    
    .works__gif.-scknd {
        top: -18px;
        left: 5px;
    }
    
    .works__gif.-thrd {
        top: 84px;
        left: 7px;
    }
    
    .works__gif.-frth {
        top: 186px;
        left: 8px;
    }
    
    .works__gif.-ffth {
        top: 288px;
        left: 5px;
    }
    
    .works__gif.-sxth {
        top: 390px;
        left: 7px;
    }
    
    .works__gif.-svnth {
        top: 492px;
        left: 8px;
    }
    
    .works__gif.-ghth {
        top: 600px;
        left: 10px;
    }

    .works__text {
        width: 90%;
    }

    .process__info {
        flex-wrap: wrap;
    }

    .process__card {
        width: 100%;
        margin-bottom: 10px;
        background: var(--sakura);
        box-shadow: 0px 0px 5px var(--sakura);
    }
}