.servises__sky {
    margin-top: 100px;
}

.sky__eclipse {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0 0 20px 20px var(--sakura);
    position: relative;
}

.sky__star {
    position: relative;
    height: 20px;
    width: 20px;
}

.sky__star::before {
    display: block;
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background-color: var(--sakura);
    transform: rotate(67.5deg) skewX(45deg) scaleY(cos(45deg));
}

.sky__star::after {
    display: block;
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background-color: var(--sakura);
    transform: rotate(-22.5deg) skewX(45deg) scaleY(cos(45deg));
}

.sky__star.-l::before {
    height: 25px;
    width: 25px;
}

.sky__star.-l::after {
    height: 25px;
    width: 25px;
}

.sky__star.-s::before {
    height: 16px;
    width: 16px;
}

.sky__star.-s::after {
    height: 16px;
    width: 16px;
}

.sky__star.-first {
    left: -100px;
}

.sky__star.-second {
    right: -330px;
    bottom: -200px;
}

.sky__star.-third {
    left: -50px;
    bottom: -225px;
}

.sky__star.-fourth {
    right: -340px;
    bottom: 20px;
}

.sky__star.-fifth {
    right: -220px;
    bottom: -250px;
}

.sky__star.-six {
    left: -60px;
    bottom: 20px;
}

.sky__star.-seven {
    right: -50px;
    bottom: -250px;
}

@media screen and (max-width: 1050px) {
    .sky__star.-first {
        left: -40px;
    }

    .sky__star.-fourth {
        right: -325px;
        bottom: 20px;
    }
}