.header__center {
    font-size: 30px;
}

.hero__title {
    font-size: 40px;
    padding-bottom: 30px;
}

.hero__link, .hero__text {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__link {
    width: 10%;
    font-size: 20px;
    border-right: 2px solid black;
    transition: 0.2s linear;
}

.hero__link:hover {
    color: #ffd7f8;
    background: black;
}

.hero__text {
    width: 60%;
    font-size: 35px;    
}

.about__title {
    font-size: 30px;
}

.about__text {
    font-size: 19px;
}

.works__title {
    font-size: 30px;
}

.works__text {
    font-size: 19px;
    color: var(--sakura);
    text-shadow: 5px 5px var(--dark_grey);
}

.process__title {
    font-size: 30px;
    text-align: center;
    padding: 50px;
    margin-bottom: 20px;
    transition: 0.2s linear;
    text-shadow: 1px 1px var(--sakura);
}

.process__title:hover {
    background: var(--sakura);
    box-shadow: 0px 0px 5px var(--sakura);
}

.process__text {
    font-size: 21px;
    text-align: justify;
    transition: 0.2s linear;
    text-shadow: 1px 1px var(--sakura);
}